<!-- stay-list.component.html -->
<div class="container-sm pt-4">


  <nav class="d-flex md:flex-column gap-2 justify-content-between align-items-center flex-wrap mb-3">

    <div class="logo flex-grow-1">
      <i class="icon-nav"></i>
    </div>

    <div class="btn-group" (click)="showCustomModal()"
      [ngStyle]="{'box-shadow': '0px 1px 6px 0px rgba(0, 0, 0, 0.10)'}">
      <button class="btn btn-outline-secondary  p-2"
        [ngStyle]="{'border': '1px solid #F2F2F2','color': '#333', 'background':'transparent'}">{{ selectedCity }},
        Finland</button>
      <button class="btn btn-outline-secondary p-2"
        [ngStyle]="{'border': '1px solid #F2F2F2','color': '#BDBDBD', 'background':'transparent'}">
        {{selectedMaxGuests | guestFormat }}</button>
      <button class="btn btn-outline-secondary pt-3"
        [ngStyle]="{'border': '1px solid #F2F2F2','color': '#BDBDBD','background':'transparent'}">
        <i class="icon-search-outside"></i>
      </button>
    </div>

  </nav>



  <app-custom-modal [showModal]="isModalOpen" (closeModalEvent)="isModalOpen = false">
    <section class="container">
      <section class="d-flex flex-column">

        <section class="d-flex  justify-content-sm-center justify-content-between flex-sm-row flex-column flex-wrap">

          <div class="section-location" (click)="toggleCityList()">
            <label class="label">Location</label>
            <p class="span">{{ selectedCity }}, Finland</p>

          </div>
          <div class="section-guests" (click)="toggleGuests()">
            <label class="label">Guests</label>
            <p class="span">{{selectedMaxGuests | guestFormat }}</p>

            <div class="d-flex flex-column gap-3" *ngIf="showGuest">
              <div class="me-2 content-range">
                <label for="adults">Adults</label>
                <p>Ages 13 or above</p>
                <button (click)="incrementAdults()">+</button>
                <input type="text" id="adults" [(ngModel)]="adults" (change)="filterByMaxGuests()" disabled>
                <button (click)="decrementAdults()">-</button>
              </div>
              <div class="content-range">
                <label for="children">Children</label>
                <p>Ages 2-12</p>
                <button (click)="incrementChildren()">+</button>
                <input type="text" id="children" [(ngModel)]="children" (change)="filterByMaxGuests()" disabled>
                <button (click)="decrementChildren()">-</button>
              </div>
            </div>
          </div>


          <div class="section-button d-flex justify-content-center align-items-center ">
            <button type="button" class="d-flex justify-content-center align-items-center"
              (click)="searchAccommodations()">
              <i class="icon-search-inside"></i>
              <p class="text-white mb-0">Search</p>
            </button>
          </div>
        </section>
        <!-- List of cities -->
        <ul class="list-unstyled px-4 pt-3" *ngIf="showCityList">
          <li (click)="filterByCity('Helsinki')" class="d-flex gap-2 align-items-center">
            <i class="icon-location"></i>
            <p class="mb-1">Helsinki, Finland</p>
          </li>
          <li class="d-flex gap-2 align-items-center" (click)="filterByCity('Turku')">
            <i class="icon-location"></i>
            <p class="mb-1">Turku, Finland</p>
          </li>
          <li class="d-flex gap-2 align-items-center" (click)="filterByCity('Vaasa')">
            <i class="icon-location"></i>
            <p class="mb-1">Vaasa, Finland</p>
          </li>
          <li class="d-flex gap-2 align-items-center" (click)="filterByCity('Oulu')">
            <i class="icon-location"></i>
            <p class="mb-1">Oulu, Finland</p>
          </li>
        </ul>
      </section>
    </section>
  </app-custom-modal>



  <h2 class="title">Stays in Finland</h2>
  <div class="row mt-3">
    <div class="col-md-4" *ngFor="let stay of stays">
      <div class="mb-4">
        <img [src]="stay.photo" alt="{{ stay.title }}" class="rounded" />
        <div class="mt-2">
          <div class="d-flex justify-content-between " *ngIf="stay.superHost">
            <div class="d-flex gap-2">
              <p class="card-text-super-host px-2 d-flex text-center align-items-center">Superhost</p>
              <span class="card-span pt-1">{{ stay.type }}. {{stay.beds}} beds</span>
            </div>

            <div class="d-flex align-items-center pb-3">
              <i class="icon-star"></i>
              <p class="card-text pb-1">
                {{ stay.rating }}
              </p>
            </div>
          </div>
          <div class="d-flex justify-content-between" *ngIf="!stay.superHost">
            <p class="card-span  pt-1">{{ stay.type }}</p>
            <div class="d-flex align-items-center pb-3">
              <i class="icon-star"></i>
              <p class="card-text pb-1">
                {{ stay.rating }}
              </p>
            </div>
          </div>
          <h5 class="title-limit">{{ stay.title }}</h5>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p>created by <a href="https://github.com/jcom-dev" target="_blank">Juan Oscco Mori</a> - devChallenges.io</p>
  </footer>
</div>
